[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest-watch = "*"
black = "*"

[packages]
luigi = "*"
structlog = "*"
colorama = "*"
wget = "*"
watchdog = "*"
tenacity = "*"
pandas = "*"
toml = "*"

[requires]
python_version = "3.6"
